@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	margin: 5px;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: #CCC;
}

#wrapper{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	background-color: #FFF;
	padding: 15px; 
	text-align: center;
}

#imgBox,
#imgRoll{
	display: block;
	width: 300px;
	height: 200px;
	background-repeat: no-repeat;
	margin: 0px auto;
}

#wrapper h1{
	text-align: center;
}
